<header>
  <nav role="navigation">
    <h1>
      Celestial Systems
    </h1>
    <div class="burger" *ngIf="isAuthenticated">
      <div class="burger" role="button" tabindex="0" (click)="toggleNavbar()" (keyup.enter)="toggleNavbar()"
            aria-controls="nav-menu" [attr.aria-expanded]="navbarOpen" title="Menu Button">
            <ng-icon [name]=menuIcon size="1.5rem"></ng-icon>
        </div>
    </div>
    <ul [ngClass]="{'open' : navbarOpen}" role="menubar" id="nav-menu" *ngIf="isAuthenticated">
      <li>
        <a routerLink="/" routerLinkActive="active">Dashboard</a>
      </li>
      <li>
        <button (click)="signOut()">Sign Out</button>
      </li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
