@import '../../utlity.scss';

.container {
    height: calc(100vh - 4.5rem);
    width: 100vw;
    @include center-align;
    fieldset {
        width: 50%;
        border-radius: .25rem;
        border: .125rem solid $primary;
        padding: 1rem;
        legend {
            font-size: 1.5rem;
            font-weight: bold;
            color: $primary;
        }
        .link {
            color: $secondary;
            text-decoration: none;
            font-weight: bold;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .container {
        height: calc(100vh - 3.7rem);
        fieldset {
            width: 100%;
            padding: 1rem;
            margin: 1.5rem;
        }
    }
    
}

