$primary: #006971;
$tertiary: #4a6366;
$secondary: #ac72ac;
$error: #ba1a1a;
$background: #fafdfd;
$outline: #6f797a;

@mixin btn ($color) {
    text-transform: uppercase;
    padding: .75rem 1rem;
    border-radius: .25rem;
    background-color: $color;
    border: none;
    color: white;
    letter-spacing: .125rem;
    &:focus {
        outline: 1px solid $outline;
    }
    &:disabled {
        background-color: $outline;
    }

}

@mixin center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}



